<!-- <div class="pull-left"> -->
<div>
	<a href="/analysis">
		<i class="fa fa-line-chart"></i>
		<p>Analysis</p>
	</a>
</div>
<div>
	<a href="/admin">
		<img src="/images/location_search.svg" alt="">
		<p>Criminal Record</p>
	</a>
</div>
<div>
	<a href="/faceSearch">
		<i class="fa fa-line-chart"></i>
		<p>face</p>
	</a>
</div>
<div>
	<a href="/gangAnalysis">
		<i class="fa fa-line-chart"></i>
		<p>Gang</p>
	</a>
</div>
<div>
	<a href="/record">
		<img src="/images/user.png" alt="">
		<p>Manage</p>
	</a>
</div>
<div>
	<a href="/case/list">
		<img src="/images/user.png" alt="case">
		<p>Case</p>
	</a>
</div>
<div>
	<a href="/user/list">
		<img src="/images/user.png" alt="user">
		<p>User</p>
	</a>
</div>
<!-- </div> -->
