<div class="container">
  <section class="user-create">
    <div class="create-case-box">
      <h1>Create Case</h1> {{case}}
      <form name="UserForm">
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" name="title" class="form-control" ng-model="case.title" placeholder="Title">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" ng-model="case.number" placeholder="Case Number">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <!-- <input type="text" class="form-control"  ng-model="case.assignee" placeholder="Case Assignee"> -->
            <select ng-model="case.assignee" class="form-control">
              <option value>Select A Assignee</option>
              <option ng-repeat="assign in assignee track by $index" value={{assign.id}}>{{assign.name}}
                {{assign.mobile}}<option>
            </select>
          </div>
        </div>
        <div class="row" ng-repeat="rec in case.records track by $index">
          <div class="form-group col-md-9">
            <select class="form-control" ng-model="rec.id">
              <option value>Select A Criminal</option>
              <option ng-repeat="reco in recordsCase track by $index" value={{reco.id}}>{{reco.name}}
                {{reco.guardian_rel}}
                {{reco.guardian_name}}<option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <button class="btn btn-danger" ng-click="removeRecord()" ng-if="$last">
              <i class="fa fa-remove"></i> remove
            </button>
            <button class="btn btn-primary" ng-click="addRecord()" ng-if="$last">
              <i class="fa fa-plus"></i> Criminal
            </button>
          </div>
        </div>
        <div class="row" ng-repeat="comm in case.comments track by $index">
          <div class="form-group col-md-9">
            <input type="text" class="form-control" ng-model="comm.comment" placeholder="Comments"><span class="btn">
          </div>
          <div class="form-group col-md-3">
            <button class="btn btn-danger" ng-click="removeRecord()" ng-if="$last">
              <i class="fa fa-remove"></i> remove
            </button>
            <button class="btn btn-primary" ng-click="addComment()" ng-if="$last">
              <i class="fa fa-plus"></i> Comment
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block" ng-click="submitCase(case)">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
