<div class="container">
  <section class="user-create">
    <div class="create-user-box">
      <h1>Create Case</h1> {{case}}
      <form name="UserForm" ng-if="recordsCase">
        <div class="form-group col-md-12">
          <input type="text" name="title" class="form-control" ng-model="case.title" placeholder="Title">
        </div>
        <div class="form-group col-md-12">
          <input type="text" class="form-control" ng-model="case.number" placeholder="Case Number">
        </div>
        <div class="form-group col-md-12">
          <!-- <input type="text" class="form-control"  ng-model="case.assignee" placeholder="Case Assignee"> -->
          <select ng-model="case.assignee" class="form-control">
            <option value>Select A Assignee</option>
            <option ng-repeat="assign in assignee track by $index" value={{assign.id}}>{{assign.name}}
              {{assign.mobile}}<option>
          </select>
        </div>
        <div class="form-group col-md-10" ng-repeat="rec in case.records track by $index">
          <select class="form-control" ng-model="rec.id" ng-change="submitRecordId(rec.id)">
            <option value>Select A Criminal</option>
            <option ng-repeat="reco in recordsCase track by $index" value={{reco.id}}>{{reco.name}}
              {{reco.guardian_rel}}
              {{reco.guardian_name}}<option>
          </select>
        </div>
        <div class="form-group col-md-2" ng-click="addRecord()">
          <button class="btn btn-primary">
            <i class="fa fa-plus btn btn-small"></i> Criminal
          </button>
        </div>
        <div class="form-group col-md-12" ng-repeat="comm in case.comments track by $index">
          <input type="text" class="form-control" ng-model="case.comment[$index]" placeholder="Comments"><span class="btn">
        </div>
        <div class="form-group col-md-2">
          <i class="fa fa-plus btn btn-small" ng-click="addComment()">Comment</i>
        </div>
      </form>

    </div>
  </section>
</div>
