<div class="container user-list-container">
  <div>
    <label>Case</label>
    <a class="btn btn-primary create-user-btn" href="/case/create"><i class="fa fa-plus"></i> Create Case</a>
  </div>
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Number</th>
        <th>Assignee</th>
        <th>Records</th>
        <th>Comments</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="case in cases track by $index">
        <td>{{case.title}}</td>
        <td>{{case.number}}</td>
        <td>{{userHash[case.assignee].name || 'N/A'}} - {{userHash[case.assignee].mobile || 'N/A'}} -
          {{userHash[case.assignee].email || 'N/A'}}</td>
        <td>
          <div ng-repeat="record in case.records track by $index">{{record.name}}</div>
        </td>
        <td>
          <div ng-repeat="comment in case.comments track by $index">{{comment.comment}}</div>
        </td>

        <td>
          <a class="btn btn-default" ng-href="/user/{{user.id}}">
            <i class="fa fa-edit"></i>
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
