<div class="paginationCont flexCont">
	<div class="prev" ng-click="showMainPage()"><img src="/images/arrow.png" alt=""></div>
	<div class="page"></div>
	<div class="next"><img src="/images/arrow.png" alt=""></div>
</div>
<div class="advance-search">
	<h3 class="search-field search-type">
		AdVance Search
	</h3>
	<div class="search-field">
		<select class="form-control" ng-model="advSearch.offence_type" ng-options="offenceType for offenceType in offenceTypes">
			<option value="" class="display-none">Select Offense Type</option>
		</select>
	</div>
	<div class="search-field">
		<select class="form-control" ng-model="advSearch.criminal_category" ng-options="criminalType for criminalType in criminalTypes">
			<option value="" class="display-none">Select Criminal Type</option>
		</select>
	</div>
	<div class="search-field">
		<input type="text" class="form-control" ng-model="advSearch.offence_area" placeholder="Offence Area">
	</div>
	<div class="search-field">
		<input type="text" class="form-control" ng-model="advSearch.police_station" placeholder="Police Station">
	</div>
	<div class="search-field action-btn">
		<button class="btn btn-info" ng-click="criminalAdvSearch(advSearch)">Search</button>
		<button class="btn btn-warning" ng-click="criminalAdvSearch()">Clear</button>
		<a class="btn btn-primary" href="/#!/createrecord"> <i class="fa fa-plus"></i> Add Criminal</a>

	</div>
</div>
<div class="dataCont">

	<div class="criminalList">

		<div ng-repeat="criminal in criminals" class="clearfix flexCont eachCriminal">
			<div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
			<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div>
			<div ng-click="openDetails(criminal)">
			<div class="imgCont"><img ng-repeat="img in criminal.images"  ng-if="img.image_type=='front'" src="{{img.image}}" alt=""></div>			
			<div>{{criminal.name}}</div>
			<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
			<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
			<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
			<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
			</div>
		</div>
		<div ng-if="detailsCriminal" style="width:100vw;">
			<div class="recordHolder" >
				<h1 class="text-center">{{criminalDetail.name}}</h1><button style="float:right" class="btn btn-primary" ng-click="editCriminal(criminalDetail)"><i class="fa fa-pencil" style="float:right">Edit</i></button>
				<div class="container-fluid flexCont">
					<div class="col-md-4">
						<div ng-repeat="img in criminalDetail.images">
							<img class="criminal-image"  ng-if="img.image_type=='left'" src="{{img.image}}" alt="">
							<h3 ng-if="img.image_type=='left'">Left</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div ng-repeat="img in criminalDetail.images">
							<img class="criminal-image"  ng-if="img.image_type=='front'" src="{{img.image}}" alt="">
							<h3 ng-if="img.image_type=='front'">Front</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div ng-repeat="img in criminalDetail.images" >
							<img class="criminal-image" ng-if="img.image_type=='right'" src="{{img.image}}" alt="">
							<h3 ng-if="img.image_type=='right'">Right</h3>
						</div>
					</div>
				</div>
				<div class="text-center">
					<fieldset>
					<legend>Basic Information</legend>
						<div class="row">
							<div class="col-md-4">
								<label>Name : </label> {{criminalDetail.name}}
							</div>
							<div class="col-md-4">
								<label>Guardian Name : </label> {{criminalDetail.guardian_name}}
							</div>
							<div class="col-md-4">
								<label>Guardian Relation : </label> {{criminalDetail.guardian_rel}}
							</div>	
						</div>
						<div class="row">
							<div class="col-md-4">
								<label>Date Of Birth : </label> {{criminalDetail.dob}}
							</div>
							<div class="col-md-4">
								<label>Community : </label> {{criminalDetail.community}}
							</div>
							<div class="col-md-4">
								<label>Religion : </label> {{criminalDetail.religion}}
							</div>	
						</div>
					<div class="row">
						<div class="col-md-4">
							<label>Gender : </label> {{criminalDetail.sex}}
						</div>
					</div>
					</fieldset>
					<fieldset>
						<legend>Physical Information</legend>
					<div class="row">
						<div class="col-md-4">
							<label>Height : </label> {{criminalDetail.height}}
						</div>
						<div class="col-md-4">
							<label>Build : </label> {{criminalDetail.build}}
						</div>	
					</div>

					<div class="row">
						<div class="col-md-4">
							<label>Complexion : </label> {{criminalDetail.complexion}}
						</div>
						<div class="col-md-4">
							<label>Fair : </label> {{criminalDetail.fair}}
						</div>
						<div class="col-md-4">
							<label>Hair : </label> {{criminalDetail.hair}}
						</div>	
					</div>
					
					<div class="row">
						<div class="col-md-4">
							<label>Eyes : </label> {{criminalDetail.eyes}}
						</div>
					</div>
						</fieldset>
					<fieldset>
						<legend>Location Information</legend>
					<div class="row">
						<div class="col-md-4">
							<label>Address 1 : </label> {{criminalDetail.address1}}
						</div>
						<div class="col-md-4">
							<label>Address 2 : </label> {{criminalDetail.address2}}
						</div>	
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>City : </label> {{criminalDetail.city}}
						</div>
						<div class="col-md-4">
							<label>State : </label> {{criminalDetail.state}}
						</div>
						<div class="col-md-4">
							<label>Police Post : </label> {{criminalDetail.police_post}}
						</div>	
					</div>
					<div class="row">
						<div class="col-md-3">
							<label>Police Station : </label> {{criminalDetail.police_station}}
						</div>
						<div class="col-md-3">
							<label>District : </label> {{criminalDetail.district}}
						</div>
					</div>
					</fieldset>
					<fieldset>
						<legend>Criminal Record</legend>
					<div class="row">
						<div class="col-md-3">
							<label>DD Num : </label> {{criminalDetail.dd_num}}
						</div>	
						<div class="col-md-3">
							<label>DD Date: </label> {{criminalDetail.dd_date}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label>Criminal Category: </label> {{criminalDetail.criminal_category}}
						</div>	
						<div class="col-md-3">
							<label>Offence Area: </label> {{criminalDetail.offence_area}}
						</div>
						<div class="col-md-3">
							<label>Offence Type: </label> {{criminalDetail.offence_type}}
						</div>
					</div>
					</fieldset>
					<fieldset>
						<legend>Identities</legend>
					<div class="col-sm-12">
						<div class="row" ng-repeat="(key, identity) in criminalDetail.identities">
							<div class="form-group col-md-3">
								<label for="">Identity Type </label>{{identity.identity_type}}
							</div>
							<div class="form-group col-md-3">
								<label for="">{{identity.identity_type}} Id </label>{{identity.identity_number}}
							</div>
							<div class="form-group col-md-3">
								<!-- <label for="">AAdhar Image Front</label> -->
								<label for="imageFront">{{identity.identity_type}} Image Front</label>
								<img ngf-thumbnail="identity[identity.identity_type].image_front || identity.image_front" style="width:50px;height:50px;">
							</div>
							<div class="form-group col-md-3">
								<!-- <label for="">AAdhar Image Back</label> -->
								<label for="imageBack">{{identity.identity_type}} Image Back</label>
								<img ngf-thumbnail="identity[identity.identity_type].image_back || identity.image_back" style="width:50px;height:50px;">
							</div>
						</div>
					</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div ng-show="editCriminalEnable" class="editCriminalCont">
			<div class="clearfix">
				<div class="lftImg UserImg">
					<form name="upload_formL" enctype="multipart/form-data">
						<label for="ImgLfile">
							<i class="fa fa-pencil imgEdit"></i>
						</label>
						<input type="file" id="ImgLfile" ngf-select ng-model="thisCriminalImgLfile" name="thisCriminalImgLfile"
						 ngf-pattern=".jpg,.png,.jpeg" accept=".png/image*" ngf-max-size="20MB" style="display: none">
					</form>
					<p>Left</p>
					<img ng-if="thisCriminalImgL" src="{{thisCriminalImgL.image}}" alt="">
					<div ng-if="!thisCriminalImgL"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgLfile" ng-click="thisCriminalImgfileSave('L',thisCriminalImgLfile)">Save</button>
				</div>
				<div class="frtImg UserImg">
					<form name="upload_formF" enctype="multipart/form-data">
						<label for="ImgFfile">
							<i class="fa fa-pencil imgEdit"></i>
						</label>
						<input type="file" id="ImgFfile" ngf-select ng-model="thisCriminalImgFfile" name="thisCriminalImgFfile"
						 ngf-pattern=".jpg,.png,.jpeg" accept="'/image*" ngf-max-size="20MB" style="display: none">
					</form>
					<p>Front</p>
					<img ng-if="thisCriminalImgF" src="{{thisCriminalImgF.image}}" alt="">
					<div ng-if="!thisCriminalImgF"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgFfile" ng-click="thisCriminalImgfileSave('F',thisCriminalImgFfile)">Save</button>
				</div>
				<div class="rgtImg UserImg">
					<form name="upload_formR" enctype="multipart/form-data">
						<label for="ImgRfile">
							<i class="fa fa-pencil imgEdit"></i>
						</label>
						<input type="file" id="ImgRfile" ngf-select ng-model="thisCriminalImgRfile" name="thisCriminalImgRfile"
						 ngf-pattern=".png,.jpg,.jpeg" accept="'/image*" ngf-max-size="20MB" style="display: none">
					</form>
					<p>Right</p>
					<img ng-if="thisCriminalImgR" src="{{thisCriminalImgR.image}}" alt="">
					<div ng-if="!thisCriminalImgR"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgRfile" ng-click="thisCriminalImgfileSave('R',thisCriminalImgRfile)">Save</button>
				</div>

			</div>
			<div ng-repeat="(key, value) in thisCriminal" class="input-control" ng-if="key!=id || key!=images">
				<div ng-if="fieldsShouldNotShow.indexOf(key) === -1 && key !== 'identities' && key!=='guardian_name'  && key!=='guardian_rel' && key!=='police_post' && key!=='police_station' && key!=='fir_num' && key!=='dd_num' && key!=='dd_date' && key!=='criminal_category' && key!=='offence_area' &&  key!=='offence_type'" class="row edit-field">
					<div class="col-sm-2">
						<label for="{{value}}">{{key}}</label>
					</div>
					<div class="col-sm-9">
						<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
					</div>
				</div>
				<div ng-if="key=='guardian_name'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Guardian Name</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='guardian_rel'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Guardian Relation</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='police_post'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Police Post</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='police_station'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Police Station</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='fir_num'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">FIR NUM</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='dd_num'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">DD NUM</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='dd_date'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">DD Date</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='criminal_category'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Criminal Category</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='offence_area'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Offence Area</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='offence_type'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Offence Area</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div class="row identity-container" ng-if="key === 'identities'">
					<div class="col-sm-2">
						<label for="{{value}}">{{key}}</label>
					</div>
					<div class="col-sm-9">
						<div class="row" ng-repeat="(key, identity) in thisCriminal.identities">
							<div class="form-group col-md-3">
								<label for="">Identity Type </label>
								<select class="form-control" ng-model="identity.identity_type" ng-options="identityType for identityType in identityTypes">
									<option value="" class="display-none"></option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="">{{identity.identity_type}} Id </label>
								<input type="text" class="form-control" ng-model="identity.identity_number" placeholder="aadhar identity_number">
							</div>
							<div class="form-group col-md-3">
								<!-- <label for="">AAdhar Image Front</label> -->
								<label for="imageFront">{{identity.identity_type}} Image Front</label>
								<!-- <input type="file" id="AadharFfile" ngf-select ng-model="identity.aadhar.image_front" name="Image Front Aadhar"
								 ngf-pattern="'.png,.jpeg,.jpg'" accept="'/image*" ngf-max-size="20MB" style="display:none"> -->
								<img ngf-thumbnail="identity[identity.identity_type].image_front || identity.image_front" style="width:50px;height:50px;">
								<div class="button" ngf-select ng-model="identity[identity.identity_type].image_front" name="Image Front {{identity.identity_type}}"
								 ngf-pattern="'.png,.jpeg,.jpg'" accept="'/image*" ngf-max-size="20MB"><i class="fa fa-pencil imgEdit"></i></div>
							</div>
							<div class="form-group col-md-3">
								<!-- <label for="">AAdhar Image Back</label> -->
								<label for="imageBack">{{identity.identity_type}} Image Back</label>
								<img ngf-thumbnail="identity[identity.identity_type].image_back || identity.image_back" style="width:50px;height:50px;">
								<div class="button" ngf-select ng-model="identity[identity.identity_type].image_back" name="Image Back {{identity.identity_type}}"
								 ngf-pattern="'.png,.jpeg,.jpg'" accept="'/image*" ngf-max-size="20MB"><i class="fa fa-pencil imgEdit"></i></div>
							</div>
						</div>
						<div>
							<button class="btn btn-default" ng-click="addIdentity(thisCriminal.identities)">Add Identity</button>
						</div>
					</div>
				</div>
			</div>
			<div class="input-control clearfix">
				<button class=" saveBtn LoginBtn" ng-click="editSave('cancel')">Cancel</button>
				<button class=" saveBtn LoginBtn" ng-click="editSave('save')">Save</button>
			</div>
		</div>
	</div>
</div>
