<div class="paginationCont flexCont">
	<div class="prev" ng-click="showMainPage()"><img src="/images/arrow.png" alt=""></div>
	<div class="page"></div>
	<div class="next"><img src="/images/arrow.png" alt=""></div>
</div>
<div class="advance-search">
	<h3 class="search-field search-type">
		Advance Search
	</h3>
	<div class="search-field">
		<select class="form-control" ng-model="advSearch.offence_type" ng-options="offenceType for offenceType in offenceTypes">
			<option value="" class="display-none">Select Offense Type</option>
		</select>
	</div>
	<div class="search-field">
		<select class="form-control" ng-model="advSearch.criminal_category" ng-options="criminalType for criminalType in criminalTypes">
			<option value="" class="display-none">Select Criminal Type</option>
		</select>
	</div>
	<div class="search-field">
		<input type="text" class="form-control" ng-model="advSearch.offence_area" placeholder="Offence Area">
	</div>
	<div class="search-field">
		<input type="text" class="form-control" ng-model="advSearch.police_station" placeholder="Police Station">
	</div>
	<div class="search-field action-btn">
		<button class="btn btn-info" ng-click="criminalAdvSearch(advSearch)">Search</button>
		<button class="btn btn-warning" ng-click="criminalAdvSearch()">Clear</button>
		<a class="btn btn-primary" href="/#!/createrecord"> <i class="fa fa-plus"></i> Add Criminal</a>
	</div>
</div>
<div class="dataCont">

	<div class="criminalList">

		<div ng-repeat="criminal in criminals" class="clearfix flexCont eachCriminal">
			<div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
			<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div>
			<div class="imgCont"><img ng-repeat="img in criminal.images"  ng-if="img.image_type=='front'" src="{{img.image}}" alt=""></div>			
			<div>{{criminal.name}}</div>
			<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
			<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
			<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
			<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
			<div class="smalldet">
				<button ng-click="openDetails(criminal,'details')" class="btn btn-success">Details</button>
				<button ng-click="checkForGang(criminal.id)" class="btn btn-success">Gang Analysis</button>
			</div>
		</div>
		<div ng-if="detailsCriminal" style="width:90vw;">
			<div class="recordHolder" >
				<button style="clear:both;float:right" class="btn btn-primary" ng-click="editCriminal(criminalDetail)"><i class="fa fa-pencil" style="float:right">Edit</i></button>
				<h1 class="text-center">{{criminalDetail.name}}</h1>
				<div class="container-fluid flexCont">
					<div class="col-md-4">
						<div ng-repeat="img in criminalDetail.images">
							<img class="criminal-image"  ng-if="img.image_type=='left'" src="{{img.image}}" alt="">
							<h3 ng-if="img.image_type=='left'">Left</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div ng-repeat="img in criminalDetail.images">
							<img class="criminal-image"  ng-if="img.image_type=='front'" src="{{img.image}}" alt="">
							<h3 ng-if="img.image_type=='front'">Front</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div ng-repeat="img in criminalDetail.images" >
							<img class="criminal-image" ng-if="img.image_type=='right'" src="{{img.image}}" alt="">
							<h3 ng-if="img.image_type=='right'">Right</h3>
						</div>
					</div>
				</div>
				<div class="text-center">
						<ul class="nav nav-tabs">
							<li style="width:20%;font-size:20px;color:#286090" ng-repeat="menu in menuItems" ng-class="{active : newMenu == menu}" ng-click="enable(menu)">
								<a data-toggle="tab">{{menu}}</a>	
							</li>
						</ul>
				</div>
					<div ng-if="infoContent=='Basic Information'" style="margin-top: 50px;">
							  <div class="form-row">
								    <div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Name:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.name}}
								      		</div>
								    </div>
								    <div class="form-group col-md-6 LabelDiv">
								    		<div class="col-md-6">
								      			<div class="newLabel">Guardian Relation:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.guardian_rel}}
								      		</div>
								    </div>
								    <div class="form-group col-md-6 LabelDiv">
								    		<div class="col-md-6">
								      			<div class="newLabel">Guardian Name:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.guardian_name}}
								      		</div>
								    </div>
								    <div class="form-group col-md-6 LabelDiv">
								    		<div class="col-md-6">
								      			<div class="newLabel">Date of Birth:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.dob}}
								      		</div>
								    </div>
								    <div class="form-group col-md-6 LabelDiv">
								    		<div class="col-md-6">
								      			<div class="newLabel">Community:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.community}}
								      		</div>
								    </div>
								    <div class="form-group col-md-6 LabelDiv">
								    		<div class="col-md-6">
								      			<div class="newLabel">Religion:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.religion}}
								      		</div>
								    </div>
								    <div class="form-group col-md-6 LabelDiv">
								    		<div class="col-md-6">
								      			<div class="newLabel">Gender:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.sex}}
								      		</div>
								    </div>
							  </div>
					</div>					
					<div ng-if="infoContent=='Physical Information'" style="margin-top: 50px;">
							<div class="form-row">
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Height:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.height}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Build:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.build}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Complexion:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.complexion}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Face:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.face}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Hair:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.hair}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Eyes:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.eyes}}
								      		</div>
								</div>
							</div>
					</div>
					<div ng-if="infoContent=='Location Information'" style="margin-top: 50px;">
						<div class="form-row">
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Address1:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.address1}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Address2:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.address2}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">City:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.city}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">State:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.state}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Police Post:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.police_post}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Police Station:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.police_station}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">District:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.district}}
								      		</div>
								</div>
						</div>
					</div>
					<div ng-if="infoContent=='Criminal Record'" style="margin-top: 50px;">
						<div class="form-row">
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">DD Num:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.dd_num}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">DD Date:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.dd_date}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Criminal Category:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.criminal_category}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Offence Area:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.offence_area}}
								      		</div>
								</div>
								<div class="form-group col-md-6 LabelDiv">								    	
								    		<div class="col-md-6">
								      			<div class="newLabel">Offence Type:</div>
								      		</div>
								      		<div class="col-md-6">
								      			{{criminalDetail.offence_type}}
								      		</div>
								</div>
						</div>
					</div>
					<div ng-if="infoContent=='Identities'" class="record-identities" style="margin-top:50px;">
						<table class="table table-bordered well">
							<tr>
								<th class="newLabel">Proof Type</th>
								<th class="newLabel">Identity Number</th>
								<th class="newLabel">Front Image</th>
								<th class="newLabel">Back Image</th>
							</tr>
							<tr ng-repeat="identity in criminalDetail.identities track by $index">
								<td>{{identity.identity_type}}</td>
								<td>{{identity.identity_number}}</td>
								<td>
									<img ng-src="{{identity.image_front}}" alt="identity front image">
								</td>
								<td>
									<img ng-src="{{identity.image_back}}" alt="identity back image">
								</td>
							</tr>
						</table>
					</div>
			</div>
		</div>
	
		<div ng-show="editCriminalEnable" class="editCriminalCont" >
			<div class="clearfix">
				<div class="lftImg UserImg">
					<form name="upload_formL" enctype="multipart/form-data">
						<label for="ImgLfile">
							<i class="fa fa-pencil imgEdit"></i>
						</label>
						<input type="file" id="ImgLfile" ngf-select ng-model="thisCriminalImgLfile" name="thisCriminalImgLfile"
						 ngf-pattern=".jpg,.png,.jpeg" accept=".png/image*" ngf-max-size="20MB" style="display: none">
					</form>
					<p>Left</p>
					<img ng-if="thisCriminalImgL" src="{{thisCriminalImgL.image}}" alt="">
					<div ng-if="!thisCriminalImgL"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgLfile" ng-click="thisCriminalImgfileSave('L',thisCriminalImgLfile)">Save</button>
				</div>
				<div class="frtImg UserImg">
					<form name="upload_formF" enctype="multipart/form-data">
						<label for="ImgFfile">
							<i class="fa fa-pencil imgEdit"></i>
						</label>
						<input type="file" id="ImgFfile" ngf-select ng-model="thisCriminalImgFfile" name="thisCriminalImgFfile"
						 ngf-pattern=".jpg,.png,.jpeg" accept="'/image*" ngf-max-size="20MB" style="display: none">
					</form>
					<p>Front</p>
					<img ng-if="thisCriminalImgF" src="{{thisCriminalImgF.image}}" alt="">
					<div ng-if="!thisCriminalImgF"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgFfile" ng-click="thisCriminalImgfileSave('F',thisCriminalImgFfile)">Save</button>
				</div>
				<div class="rgtImg UserImg">
					<form name="upload_formR" enctype="multipart/form-data">
						<label for="ImgRfile">
							<i class="fa fa-pencil imgEdit"></i>
						</label>
						<input type="file" id="ImgRfile" ngf-select ng-model="thisCriminalImgRfile" name="thisCriminalImgRfile"
						 ngf-pattern=".png,.jpg,.jpeg" accept="'/image*" ngf-max-size="20MB" style="display: none">
					</form>
					<p>Right</p>
					<img ng-if="thisCriminalImgR" src="{{thisCriminalImgR.image}}" alt="">
					<div ng-if="!thisCriminalImgR"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgRfile" ng-click="thisCriminalImgfileSave('R',thisCriminalImgRfile)">Save</button>
				</div>

			</div>
			
			<div ng-repeat="(key, value) in thisCriminal" ng-if="key!=id || key!=images">
				<div ng-if="fieldsShouldNotShow.indexOf(key) === -1 && key !== 'identities' && key!=='guardian_name'  && key!=='guardian_rel' && key!=='police_post' && key!=='police_station' && key!=='fir_num' && key!=='dd_num' && key!=='dd_date' && key!=='criminal_category' && key!=='offence_area' &&  key!=='offence_type' && key!=='dob' && key!=='religion' && key!='sex' && key!=='build' && key!=='complexion' && key!=='face' && key!=='hair' && key!=='eyes'" class="row edit-field">
					<div class="col-sm-2">
						<label for="{{value}}">{{key}}</label>
					</div>
					<div class="col-sm-9">
						<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
					</div>
				</div>
				<div ng-if="key=='eyes'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Eyes</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Eyes Type</option>
								<option value="Black">Black</option>
								<option value="Brown">Brown</option>
								<option value="Blue">Blue</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='hair'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Hair</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Face Type</option>
								<option value="Black">Black</option>
								<option value="Brown">Brown</option>
								<option value="Red">Red</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='face'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Face</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Religion</option>
								<option value="Round">Round</option>
								<option value="Long">Long</option>
								<option value="Oval">Oval</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='complexion'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Complexion</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Religion</option>
								<option value="Fair">Fair</option>
								<option value="Dark">Dark</option>
								<option value="Wheatish">Wheatish</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='dob'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Date Of Birth</label>
						</div>
						<div class="col-sm-9">
							<datepicker date-format="yyyy-MM-dd">
									<input class="form-control" ng-model="thisCriminal[key]" type="text" placeholder="DD Date" />
							</datepicker>
						</div>
				</div>
				<div ng-if="key=='sex'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Gender</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Religion</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="others">Others</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='religion'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Religion</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Religion</option>
								<option value="hindu">Hindu</option>
								<option value="muslim">Muslim</option>
								<option value="christian">Christian</option>
								<option value="jain">Jain</option>
								<option value="jew">Jew</option>
								<option value="sikh">Sikh</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='build'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Build</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal.build" class="form-control">
								<option value>Select a Religion</option>
								<option value="Fat">Fat</option>
								<option value="Slim">Slim</option>
								<option value="Muscular">Muscular</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='guardian_name'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Guardian Name</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='guardian_rel'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Guardian Relation</label>
						</div>
						<div class="col-sm-9">
							<!-- <input type="text" ng-model="thisCriminal[key]" name="{{value}}"> -->
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Relation</option>
								<option value="h/o">H/O</option>
								<option value="s/o">S/O</option>
								<option value="d/o">D/O</option>
								<option value="w/o">W/O</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='police_post'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Police Post</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='police_station'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Police Station</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='fir_num'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">FIR NUM</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='dd_num'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">DD NUM</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='dd_date'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">DD Date</label>
						</div>
						<div class="col-sm-9">
							<!-- <input type="text" ng-model="thisCriminal[key]" name="{{value}}"> -->
							<datepicker date-format="yyyy-MM-dd">
									<input class="form-control" ng-model="thisCriminal[key]" type="text" placeholder="DD Date" />
							</datepicker>
						</div>
				</div>
				<div ng-if="key=='criminal_category'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Criminal Category</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Criminal Category</option>
								<option value="Indian fraudsters‎ (1 C, 10 P)">Indian fraudsters‎ (1 C, 10 P)</option>
								<option value="Indian counterfeiters‎ (2 P)">Indian counterfeiters‎ (2 P)</option>
								<option value="Indian drug traffickers‎ (4 P)">Indian drug traffickers‎ (4 P)</option>
								<option value="Indian extortionists‎ (8 P)">Indian extortionists‎ (8 P)</option>
								<option value="Indian kidnappers‎ (3 P)">Indian kidnappers‎ (3 P)</option>
								<option value="Indian mobsters‎ (4 C, 23 P)">Indian mobsters‎ (4 C, 23 P)</option>
								<option value="Indian money launderers‎ (6 P)">Indian money launderers‎ (6 P)</option>
								<option value="Indian murderers‎ (4 C, 6 P)">Indian murderers‎ (4 C, 6 P)</option>
								<option value="Indian poachers‎ (1 P)">Indian poachers‎ (1 P)</option>
								<option value="Indian rapists‎ (1 C, 11 P)">Indian rapists‎ (1 C, 11 P)</option>
								<option value="Indian robbers‎ (13 P)">Indian robbers‎ (13 P)</option>
								<option value="Indian smugglers‎ (11 P)">Indian smugglers‎ (11 P)</option>
								<option value="Indian people convicted of manslaughter‎ (2 P)">Indian people convicted of manslaughter‎ (2 P)</option>
							</select>
						</div>
				</div>
				<div ng-if="key=='offence_area'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Offence Area</label>
						</div>
						<div class="col-sm-9">
							<input type="text" ng-model="thisCriminal[key]" name="{{value}}">
						</div>
				</div>
				<div ng-if="key=='offence_type'" class="row edit-field">
						<div class="col-md-2">
							<label for="{{value}}">Offence Type</label>
						</div>
						<div class="col-sm-9">
							<select ng-model="thisCriminal[key]" class="form-control">
								<option value>Select a Offence Type</option>
								<option value="Rape">Rape</option>
								<option value="Dowry">Dowry</option>
								<option value="Domestic violences">Domestic violences</option>
								<option value="Female infanticides">Female infanticides</option>
								<option value="Illegal drug trade">Illegal drug trade</option>
								<option value="Human Trafficking">Human Trafficking</option>
								<option value="Cyber crime">Cyber crime</option>
								<option value="Corruption and police misconduct">Corruption and police misconduct</option>
								<option value="Petty crimes">Petty crimes</option>
								<option value="Poaching and wildlife trafficking">Poaching and wildlife trafficking</option>
								<option value="Murder">Murder</option>
								<option value="Terrorism">Terrorism</option>
								<option value="Arms Trafficking">Arms Trafficking</option>
								<option value="Child abuse">Child abuse</option>
								<option value="Kidnapping">Kidnapping</option>
								<option value="Tax Evasion">Tax Evasion</option>
							</select>
						</div>
				</div>
				<div class="row identity-container" ng-if="key === 'identities'">
					<div class="col-sm-2">
						<label for="{{value}}">{{key}}</label>
					</div>
					<div class="col-sm-9">
						<div class="row" ng-repeat="(key, identity) in thisCriminal.identities">
							<div class="form-group col-md-3">
								<label for="">Identity Type </label>
								<select class="form-control" ng-model="identity.identity_type" ng-options="identityType for identityType in identityTypes">
									<option value="" class="display-none"></option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="">{{identity.identity_type}} Id </label>
								<input type="text" class="form-control" ng-model="identity.identity_number" placeholder="aadhar identity_number">
							</div>
							<div class="form-group col-md-3">
								<!-- <label for="">AAdhar Image Front</label> -->
								<label for="imageFront">{{identity.identity_type}} Image Front</label>
								<!-- <input type="file" id="AadharFfile" ngf-select ng-model="identity.aadhar.image_front" name="Image Front Aadhar"
								 ngf-pattern="'.png,.jpeg,.jpg'" accept="'/image*" ngf-max-size="20MB" style="display:none"> -->
								<img ngf-thumbnail="identity[identity.identity_type].image_front || identity.image_front" style="width:50px;height:50px;">
								<div class="button" ngf-select ng-model="identity[identity.identity_type].image_front" name="Image Front {{identity.identity_type}}"
								 ngf-pattern="'.png,.jpeg,.jpg'" accept="'/image*" ngf-max-size="20MB"><i class="fa fa-pencil imgEdit"></i></div>
							</div>
							<div class="form-group col-md-3">
								<!-- <label for="">AAdhar Image Back</label> -->
								<label for="imageBack">{{identity.identity_type}} Image Back</label>
								<img ngf-thumbnail="identity[identity.identity_type].image_back || identity.image_back" style="width:50px;height:50px;">
								<div class="button" ngf-select ng-model="identity[identity.identity_type].image_back" name="Image Back {{identity.identity_type}}"
								 ngf-pattern="'.png,.jpeg,.jpg'" accept="'/image*" ngf-max-size="20MB"><i class="fa fa-pencil imgEdit"></i></div>
							</div>
						</div>
						<div>
							<button class="btn btn-default" ng-click="addIdentity(thisCriminal.identities)">Add Identity</button>
						</div>
					</div>
				</div>
			</div>
			<div class="input-control clearfix">
				<button class=" saveBtn LoginBtn" ng-click="editSave('cancel')">Cancel</button>
				<button class=" saveBtn LoginBtn" ng-click="editSave('save')">Save</button>
			</div>
		</div>
	</div>
		<section ng-if="showAnalysis">
				<section ng-if="analysisData['address'].length==0 && analysisData['fir_num'].length==0 && analysisData['guardian_name'].length==0 && analysisData['identities'].length==0">
					<div class="criminalList clearfix flexCont eachCriminal eachItem" style="text-align: center;color:red">
						<div style="margin-top:45%;">
						No Data To Show
						</div>
					</div>
				</section>
				<section ng-if="analysisData['address'] && analysisData['address'].length>0" class=" criminalListSec">
					<h1>Possible affiliations based on address</h1>
					<div class="criminalList">
						<div ng-repeat="criminal in analysisData['address']" class="clearfix flexCont eachCriminal eachItem">
							<!-- <div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
							<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div> -->
							<div class="imgCont"><img ng-repeat="img in criminal.images" ng-if="img.image_type=='front'" src="{{img.image}}"
								 alt=""></div>
							<div>{{criminal.name}}</div>
							<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
							<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
							<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
							<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
							<div class="onHvr flexCont">
								<a ng-click="openDetails(criminal,'fromGang')" class="btn btn-link">View record</a>
							</div>
						</div>
					</div>
				</section>
				<section ng-if="analysisData['fir_num'] && analysisData['fir_num'].length>0" class=" criminalListSec">
					<h1>Possible affiliations based on FIR</h1>
					<div class="criminalList">
						<div ng-repeat="criminal in analysisData['fir_num']" class="clearfix flexCont eachCriminal eachItem">
							<!-- <div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
							<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div> -->
							<div class="imgCont"><img ng-repeat="img in criminal.images" ng-if="img.image_type=='front'" src="{{img.image}}"
								 alt=""></div>
							<div>{{criminal.name}}</div>
							<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
							<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
							<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
							<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
							<div class="onHvr flexCont">
								<a ng-click="openDetails(criminal,'fromGang')" class="btn btn-link">View record</a>
							</div>
						</div>
					</div>
				</section>
				<section ng-if="analysisData['guardian_name'] && analysisData['guardian_name'].length>0" class=" criminalListSec">
					<h1>Possible affiliations based on relationship</h1>
					<div class="criminalList">
						<div ng-repeat="criminal in analysisData['guardian_name']" class="clearfix flexCont eachCriminal eachItem">
							<!-- <div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
							<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div> -->
							<div class="imgCont"><img ng-repeat="img in criminal.images" ng-if="img.image_type=='front'" src="{{img.image}}"
								 alt=""></div>
							<div>{{criminal.name}}</div>
							<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
							<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
							<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
							<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
							<div class="onHvr flexCont">
								<a ng-click="openDetails(criminal,'fromGang')" class="btn btn-link">View record</a>
							</div>
						</div>
					</div>
				</section>
				<section ng-if="analysisData['identities'] && analysisData['identities'].length>0" class=" criminalListSec">
					<h1>Possible affiliations based on identities</h1>
					<div class="criminalList">
						<div ng-repeat="criminal in analysisData['identities']" class="clearfix flexCont eachCriminal eachItem">
							<!-- <div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
							<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div> -->
							<div class="imgCont"><img ng-repeat="img in criminal.images" ng-if="img.image_type=='front'" src="{{img.image}}"
								 alt=""></div>
							<div>{{criminal.name}}</div>
							<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
							<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
							<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
							<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
							<div class="onHvr flexCont">
								<a ng-click="openDetails(criminal,'fromGang')" class="btn btn-link">View record</a>
							</div>
						</div>
					</div>
				</section>
		</section>
		<ul class="pagination" style="display: flex;justify-content: center;cursor: pointer">
			<li ng-repeat="page in pages track by $index" ng-click="getCriminalData(undefined,$index)" ng-class="{active : activeMenu == $index}"><a>{{$index+1}}</a></li>
		</ul>
</div>


