

<div class="paginationCont flexCont">
	<div class="prev" ng-click="editCriminalEnable=false"><img src="/images/arrow.png" alt=""></div>
	<div class="page"></div>
	<div class="next"><img src="/images/arrow.png" alt=""></div>
</div>
<div class="dataCont">
	
	<div class="criminalList">
		
		<div ng-repeat="criminal in criminals" class="clearfix flexCont eachCriminal">
			<div class="closeEach" ng-click="deleteCriminal(criminal)"><i class="fa fa-times"></i></div>
			<div class="editEach" ng-click="editCriminal(criminal)"><i class="fa fa-pencil"></i></div>
			<div class="imgCont"><img ng-repeat="img in criminal.images" ng-if="img.image_type=='front'" src="{{img.image}}" alt=""></div>
			<div>{{criminal.name}}</div>
			<div>{{criminal.guardian_rel}} : {{criminal.guardian_name}}</div>
			<div class="smalldet">{{criminal.dob}} | {{criminal.community}} | {{criminal.sex}}</div>
			<div class="smalldet">{{criminal.complexion}} complexion | {{criminal.hair}} hair | {{criminal.eyes}} eyes</div>
			<div class="smalldet"><b>Address : </b>{{criminal.address1}}</div>
		</div>
		<div ng-if="editCriminalEnable" class="editCriminalCont">
			<div class="clearfix">
				<div class="lftImg UserImg">
					<form name="upload_formL" enctype="multipart/form-data">
                         <label for="ImgLfile">
                            <i class="fa fa-pencil imgEdit"></i>
                        </label>
                        <input type="file" id="ImgLfile" ngf-select ng-model="thisCriminalImgLfile" name="thisCriminalImgLfile" ngf-pattern=".jpeg,.png,.jpg" accept=".png/image*" ngf-max-size="20MB" style="display: none" >
                    </form> 
					<p>Left</p>
					<img ng-if="thisCriminalImgL" src="{{thisCriminalImgL.image}}" alt="">
					<div ng-if="!thisCriminalImgL"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgLfile" ng-click="thisCriminalImgfileSave('L',thisCriminalImgLfile)">Save</button>
				</div>
				<div class="frtImg UserImg">
					<form name="upload_formF" enctype="multipart/form-data">
                         <label for="ImgFfile">
                            <i class="fa fa-pencil imgEdit"></i>
                        </label>
                        <input type="file" id="ImgFfile" ngf-select ng-model="thisCriminalImgFfile" name="thisCriminalImgFfile" ngf-pattern=".jpg,.png,.jpeg" accept="'/image*" ngf-max-size="20MB" style="display: none">
                    </form> 
					<p>Front</p>
					<img ng-if="thisCriminalImgF" src="{{thisCriminalImgF.image}}" alt="">
					<div ng-if="!thisCriminalImgF"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgFfile" ng-click="thisCriminalImgfileSave('F',thisCriminalImgFfile)">Save</button>
				</div>
				<div class="rgtImg UserImg">
					<form name="upload_formR" enctype="multipart/form-data">
                         <label for="ImgRfile">
                            <i class="fa fa-pencil imgEdit"></i>
                        </label>
                        <input type="file" id="ImgRfile" ngf-select ng-model="thisCriminalImgRfile" name="thisCriminalImgRfile" ngf-pattern=".png,.jpg,.jpeg" accept="'/image*" ngf-max-size="20MB" style="display: none">
                    </form> 
					<p>Right</p>
					<img ng-if="thisCriminalImgR" src="{{thisCriminalImgR.image}}" alt="">
					<div ng-if="!thisCriminalImgR"><i class="fa fa-plus"></i></div>
					<button class="btn btn-sm btn-main" ng-if="thisCriminalImgRfile" ng-click="thisCriminalImgfileSave('R',thisCriminalImgRfile)">Save</button>
				</div>
				
			</div>
			<div ng-repeat="(key, value) in thisCriminal" class="input-control" ng-if="key!=id || key!=images">
				<label for="{{value}}">{{key}}</label> : <input type="text" class="" ng-model="thisCriminal[key]" name="{{value}}">
			</div>
			<div class="input-control clearfix">
				<button class=" saveBtn LoginBtn" ng-click="editSave('cancel')">Cancel</button>
				<button class=" saveBtn LoginBtn" ng-click="editSave('save')">Save</button>
			</div>
		</div>
	</div>
</div>

