<script>
	$(document).ready(function(){
		$(document).on("click", "li#cart_tab3", function() {
		new WOW().init();
		$('#cart_button').addClass('wow shake animated');
		});
	});
</script>
	<section  class="homeDetSection CartPage" ng-if="(cartData.places.length || cartData.activities.length || cartData.cars.length || cartData.bikes.length)>0">
		<div class="container">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 CartContent">
				<ul class="CartTabs">
					<li id="cart_tab1" ng-class="changeTab.name=='info'?'LiBg':' '" ng-click="changeTab.name='info'">Package Info</li>
					<li id="cart_tab2" ng-class="changeTab.name=='detail'?'LiBg':' '" ng-click="changeTab.name='detail'">User Details</li>
					<li id="cart_tab3" ng-class="changeTab.name=='pay'?'LiBg':' '">Payment</li>
				</ul>
			</div>

			<!-- Itinerary info -->
			<div class="cartAllItemContainer CartWrapbox" ng-if="changeTab.name=='info'">

				<div class="cartleftwrap col-md-7 col-lg-7 col-sm-12 col-xs-12">
				<!-- Cart Itinerary row starts -->

					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 PaddingZero CartItinRow">
						
							<div class="ItemsLeft">
								<h4>{{cartData.name}}</h4>
								<p ng-if="userLoggedIn">Places<span class="spanItem">{{placeData.length}}</span>, Activites<span class="spanItem">{{activityData.length}}</span>, Transport<span class="spanItem">{{bikeData.length + carData.length}}</span></p>
								<p ng-if="!userLoggedIn">Places<span class="spanItem">{{cartData.places.length}}</span>, Activites<span class="spanItem">{{cartData.activities.length}}</span>, Transport<span class="spanItem">{{cartData.cars.length + cartData.bikes.length}}</span></p>
								<span class="TravelDate"><input min="{{minDate|date:'yyyy-MM-dd'}}" type="date" id="cart_date" ng-model="dateItin.dateItinT" ng-change="changeDate()"></span>
							</div>	

							<div class="ItemsRight">
								<p>Total Cost<span>Rs.{{cartData.total_price|number:2}}</span></p>
								<button ng-click="openDetails=!openDetails">Details</button>
							</div>
						
					</div>
					<!-- Cart Itinerary row ends-->

					
					<div class="openDetailsCont" ng-if="openDetails">
						<div class="itineraryItem  col-md-12 col-lg-12 col-sm-12 col-xs-12 cartItemList" ng-repeat="act in activityData track by $index">
							<i class="fa fa-trash ItemRem" ng-if="userLoggedIn" ng-click="remFromCart('activities',act)"></i>
							<i class="fa fa-trash ItemRem" ng-if="!userLoggedIn" ng-click="remFromCartActivities(act)"></i>
							<div class="borderCont">
								<span class="FootIcon"><img src="/images/footprint.png"></span>
								<span class="circle">{{$index+1}}</span>
								<p class="border"></p>
							</div>
							<div class="itineraryItemInfo text-left">
								<p class="name">{{act.name}}</p>
								<div class="TimeAndTimings" >
									<p class="timeTakesAbs">25 mins by foot</p>
									<span class="timeInfo" ng-if="act.cartDetails.slot"><b>Time :</b> {{act.cartDetails.slot}}-{{act.cartDetails.slot}}</span>
								</div>

								
									<p class="desc CartDesc">{{act.short_description | cutText:200 : '....'}}</p>
								
								<div class="CounterPersonSec" ng-if="act.cartDetails.pax_adult+act.cartDetails.pax_child==0">
									
									<div class="CounterLeft">
										<p class="PersonAge">Item:</p>
										<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.quantity}}<!-- <span class="PlusIc">+</span> -->
										</span>
										
									</div>
								</div>
								<div class="CounterPersonSec" ng-if="act.cartDetails.pax_adult+act.cartDetails.pax_child>0">
									
									<div class="CounterLeft">
										<p class="PersonAge">Adults:</p>
										<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.pax_adult}}<!-- <span class="PlusIc">+</span> -->
										</span>
										
									</div>
									<div class="CounterRight">
										<p class="PersonAge">Children:</p>
										<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.pax_child}}<!-- <span class="PlusIc">+</span> -->
										</span>
										
									</div>
								</div>
								<div class="ItinSectionPrice">
									
									<span class="money"> Rs. {{act.cartDetails.total_amount|number}}</span>
								</div>
								<!-- 	<span class="guideInfo" ng-if="act.id==1||act.id==4"> <i class="bar"></i> Guide --> 
								<!-- <p class="includeGuide" ng-if="act.id==1||act.id==4">
									<input type="checkbox"> <span>Guide included</span>
									<select class="" name="">
										<option value="English">English</option>
										<option value="English">Hindi</option>
										<option value="English">French</option>
									</select>
								</p> -->
								<p class="timeTakesAbs" ng-if="act.id==1||act.id==4">
									<!-- <i class="fa fa-car"></i> --> 25 mins by car
								</p>
							</div>

							<div class="placesListContainerImgCont itineraryItemImg">
								<a href="/details"><img src="{{act.images[0].image}}" alt=""></a>
							</div>

						</div>
						<div class="itineraryItem  col-md-12 col-lg-12 col-sm-12 col-xs-12 cartItemList" ng-repeat="act in placeData track by $index">
							<i class="fa fa-trash ItemRem" ng-if="userLoggedIn" ng-click="remFromCart('places',act)"></i>
							<i class="fa fa-trash ItemRem" ng-if="!userLoggedIn" ng-click="remFromCartPlaces(act)"></i>
							<div class="borderCont">
								<span class="FootIcon"><img src="/images/footprint.png"></span>
								<span class="circle">{{$index+1}}</span>
								<p class="border"></p>
							</div>
							<div class="itineraryItemInfo text-left">
								<p class="name">{{act.name}}</p>
								<div class="TimeAndTimings">
									<p class="timeTakesAbs" ng-if="act.id!==1&&act.id!==4">25 mins by foot</p>
									<span class="timeInfo"><b>Time :</b> 10AM - 11 AM</span>
								</div>

								
									<p class="desc CartDesc">{{act.short_des}}</p>
								
								
								<div class="CounterPersonSec">
									
									<div class="CounterLeft">
										<p class="PersonAge">Person:</p>
									<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.pax}}<!-- <span class="PlusIc">+</span> -->
									</span>
									
									</div>
								
								</div>
								<!-- <div class="ItinSectionPrice">
									<i class="fa fa-trash" ng-click="remFromCart('activities',act)"></i>
									<span class="money"> Rs. {{act.cartDetails.total_amount|number}}</span>
								</div> -->
								
								<p class="timeTakesAbs" ng-if="act.id==1||act.id==4">
									<!-- <i class="fa fa-car"></i> --> 25 mins by car
								</p>
								
							</div>

							<div class="placesListContainerImgCont itineraryItemImg">
								<a href="/details"><img src="{{act.images[0].image}}" alt=""></a>
							</div>

						</div>
					</div>

				</div>
				<div class="CartItemRight col-md-5 col-lg-5 col-sm-12 col-xs-12">
					<div class="CartInnerRight">
						<h5>Itinerary Summary</h5>
						 <h6>Places</h6>
							<ul class="PlacesUl" >
								<li ng-if="placeData.length>0" ng-repeat="place in placeData">{{place.name}}</li>
								<li ng-if="!placeData || placeData.length<=0">No place added in the cart</li>
								
							</ul>
						<h6>Activities</h6>
							<ul class="ActivitiesUl" >
								
								<li ng-if="activityData.length>0" ng-repeat="activity in activityData">{{activity.name}}</li>
								<li ng-if="!activityData || activityData.length<=0">No activity added in the cart</li>
							</ul>
						<h6>Transport</h6>
							<ul class="TransportUl">
								<li ng-if="carData.length>0" ng-repeat="car in carData">{{car.car_type.title}} : {{car.car_type.seat}}seater<span class="TransportIcon"><i class="fa fa-trash" ng-click="remFromCart('cars',car)"></i><span></li>
									<!-- <li ng-if="!carData || carData.length<=0">No car in the cart</li> -->
								<li ng-if="bikeData.length>0" ng-repeat="bikes in bikeData">{{bikes.bike.name}}<span class="TransportIcon"><i class="fa fa-trash" ng-click="remFromCart('bikes',bikes)"></i><span></li>
									<li ng-if="bikeData.length+carData.length==0">No bike/car added in the cart</li>
							</ul>
					</div>
				</div>
			</div>

			

			<!-- Itinerary info ends-->

			<!-- user information starts -->
			<div class="UserInfo" ng-if="changeTab.name=='detail'">
				<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 PackageChargeDetWrap">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 PackageChargeDet">
						<h5>Package Charges Details</h5>
						<table>
							<p>Your Travel Date is <span>{{dateItin.dateItinT | date:"dd-MMM-yyyy"}}</span></p>
							<tr>
								<td>Places Charges</td>
								<td class="TdStyle">Rs.{{sumPlaces()}}</td>
							</tr>
							<tr>
								<td>Activity Charges</td>
								<td class="TdStyle">Rs.{{sumActivities()}}</td>
							</tr>
							<tr>
								<td>Transport Charges</td>
								<td class="TdStyle">Rs.{{sumTransport()}}</td>
							</tr>
							<tr class="LastTr">
								<td class="FinalSum">Total charges</td>
								<td class="FinalSum TdStyle">Rs.{{cartData.total_price}}</td>	
							</tr>
							<tr>
								<td class="FinalSum">Min Booking amount<span id="min_pay">(20% of total amount)</span></td>
								<td class="FinalSum TdStyle">Rs.{{0.2* cartData.total_price}}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-8 col-lg-8 col-sm-6 col-xs-12 LogInDetails">
					<div class="CartSocialLogin" ng-if="!userLoggedIn">
						<p>Login from social profile</p>
						<button disabled id="btn_google">Google</button>
						<button disabled id="btn_fb">Facebook</button>
						
						
					</div>
					<form ng-if="userLoggedIn" name="form">
						<div class="input-control">
							<input type="text" name="name" placeholder="Name" ng-model="user.name" ng-required="true" >
							<div ng-show="form.name.$dirty && form.name.$error.required">
				                    <span class="errorMessage TopRightSignUp help-block" id="cartNameVal">Name can not be empty!</span>
				            </div>
			        	</div>
			        	<div class="input-control">
							<input type="mail" name="mail" placeholder="Email" ng-model="user.email" ng-required="true" >
							<div ng-show="form.mail.$dirty && form.mail.$error.required">
			                	<span class="errorMessage TopRightSignUp help-block" id="cartEmailVal">Email is required!</span>
			                </div>
			            </div>
			            <div class="input-control">
							<input type="number" name="number" placeholder="Mobile No." ng-model="user.phone" ng-required="true" >
							<div ng-show="form.number.$dirty && form.number.$error.required">
                  				<span class="errorMessage TopRightSignUp help-block" id="cartPhoneVal">Phone number can not be empty!</span>
                  			</div>
                  		</div>
						<button ng-click="changeTaby('pay')" ng-disabled="form.$invalid" id="cart_button">Confirm & Proceed to pay</button>
					</form>
					<form ng-if="!userLoggedIn">
						<input type="text" name="name" placeholder="Name" ng-model="user.name" >
						<input type="password" name="pass" placeholder="password" ng-model="user.pass" >
						<!-- <input type="number" name="number" placeholder="Mobile No." ng-model="user.phone" disabled> -->
						<button ng-click="login('pay')">Login</button>
					</form>

				</div>
			</div>
			<!-- user information ends -->

			<!-- Payment tab starts -->
			<div class="PaymentSectionDiv" ng-if="changeTab.name=='pay'">
				<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 PackageChargeDetWrap">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 PackageChargeDet">
						<h5>Package Charges Details</h5>
						<table>
							<tr>
								<td>Places Charges</td>
								<td class="TdStyle">Rs.{{sumPlaces()}}</td>
							</tr>
							<tr>
								<td>Activity Charges</td>
								<td class="TdStyle">Rs.{{sumActivities()}}</td>
							</tr>
							<tr>
								<td>Transport Charges</td>
								<td class="TdStyle">Rs.{{sumTransport()}}</td>
							</tr>
							<tr class="LastTr">
								<td class="FinalSum">Total charges</td>
								<td class="FinalSum TdStyle">Rs.{{cartData.total_price}}</td>	
							</tr>
							<tr>
								<td class="FinalSum">Min Booking amount<span id="min_pay">(20% of total amount)</span></td>
								<td class="FinalSum TdStyle">Rs.{{ 0.2*cartData.total_price}}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-8 col-lg-8 col-sm-6 col-xs-12 PaymentGateways">
					<p>Choose any of the payment method to pay minimum booking amount of <span>Rs.{{ 0.2*cartData.total_price}}</span></p>
					<div class="PaymentOptions">
						<span ng-click="submit('paytm')"><img src="/images/paytm.png" alt=""></span>
						<span ng-click="submit('rzrpay')"><img src="/images/rzp.png" alt="" id="rzp"></span>
						<span ng-click="submit('cod')"><img src="/images/cod.png" alt="" id="cod"></span>
					</div>
					
				</div>

			
			</div>
			<!-- Payment tab ends -->
			<button id="rzp-button1" style="display: none;"></button>
			<div style="display: none;">
		         <form id="paytm-form" action="https://securegw-stage.paytm.in/theia/processTransaction" method="POST" >
		            <input type="hidden" id="CALLBACK_URL" name= "CALLBACK_URL" value="{{paytm.CALLBACK_URL}}">
		            <input type="hidden" id="CHANNEL_ID" name="CHANNEL_ID" value="{{paytm.CHANNEL_ID}}">
		            <input type="hidden" id="CHECKSUMHASH" name="CHECKSUMHASH" value="{{paytm.CHECKSUMHASH}}">
		            <input type="hidden" id="CUST_ID" name="CUST_ID" value="{{paytm.CUST_ID}}">
		            <input type="hidden" id="EMAIL" name="EMAIL" value="{{paytm.EMAIL}}">
		            <input type="hidden" id="INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" value="{{paytm.INDUSTRY_TYPE_ID}}">
		            <input type="hidden" id="MID" name="MID" value="{{paytm.MID}}">
		            <input type="hidden" id="MOBILE_NO" name="MOBILE_NO" value="{{paytm.MOBILE_NO}}">
		            <input type="hidden" id="ORDER_ID" name="ORDER_ID" value="{{paytm.ORDER_ID}}">
		            <input type="hidden" id="TXN_AMOUNT" name="TXN_AMOUNT" value="{{paytm.TXN_AMOUNT}}">
		            <input type="hidden" id="WEBSITE" name="WEBSITE" value="{{paytm.WEBSITE}}">
		            <button form="paytm-form" id="submit-paytm-form" type="submit" ng-click=""></button>
		        </form>
		    </div>
		</div>
	</section>
	<section  class="homeDetSection CartPage" ng-if="(cartData.places.length + cartData.activities.length +cartData.cars.length +cartData.bikes.length)<=0">
		<div class="container">
			<div class="EmptyCart">
				<img src="images/cartem.png">
				<h3>Your cart is empty</h3>
				<p>Looks like you didn't created your itinerary yet!</p>
				<p id="start_creating">Start creating
					<select ng-model="model" ng-change="cartdropdownCity(model)">
						<option disabled selected value>Select a city</option>
						<option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
					</select>
				</p>
			</div>
		</div>
	</section>






