<div class="cartMainContainer">
	<section class="homeDetSection homeDetSectionTop homeCartSectionTop">
		<div class="container" ng-if="!responseReceived">
			<div class="stepBreak">
				<span class="active">1</span>
				<span class="active">2</span>
				<span>3</span>
			</div>
			<div>
				<!-- {{order}} -->
			</div>
			<div class="container-fluid">
				<div class="col-md-2">
					<ul class="list-group">
						<li class="list-group-item" ng-click="switchOpt='COD'" ng-class="switchOpt=='COD'?'active':' '">COD</li>
						<li class="list-group-item" ng-click="switchOpt='OTH'" ng-class="switchOpt=='OTH'?'active':' '">Others</li>
					</ul>
				</div>
				<div class="col-md-10">
					<div ng-if="switchOpt=='COD'">
						<div class="input-control">
							<input type="radio" name="" id="" ng-change="enableCODF()" ng-model="enableCOD">&nbsp; COD
						</div>
						<br>
						<div class="input-control" ng-show="enableCODS">
							<button class="btn btn-main" ng-click="submit('cod')">SUBMIT</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
