<div class="row">
       <div class="contactMapCont">
       	<div class="overmap"></div>
			<ng-map center='Bmyraahi, 112, Block D, Panchsheel Enclave, New Delhi, Delhi 110017' zoom="15" height="400">
				<marker position='Bmyraahi, 112, Block D, Panchsheel Enclave, New Delhi, Delhi 110017'></marker>
			</ng-map>
		
    	</div>
    	<div class="container padTop150" id="contactContainer">


 	
  
    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 ContactWrap">
    	

    	<div class="col-sm-6">
    		<form action="form.php" class="contact-form" method="post">

		        <div class="form-group">
		          <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
		        </div>


		        <div class="form-group form_left">
		          <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
		        </div>

		      <div class="form-group">
		           <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
		      </div>
		      <div class="form-group">
		      <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
		      <br>
	      	  <button class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Send </button>
		      </div>
     		</form>
    	</div>

  

  <div class="container second-portion">
	<div class="row">
       

        <div class="col-xs-12 col-sm-6 col-lg-6">
			<div class="box">
				<div class="info">
					<h3 class="title">contact</h3>
					<p class="ConLinks">Call: &nbsp;
						<a href="tel:+917217744896">(+91)-721-774-4896</a>
						<a href="tel:01140079296">(011)-400-792-96</a>
    				</p>
					<p class="ConLinks">Mail: &nbsp;<a href="mailto:bmyraahi@gmail.com">bmyraahi@gmail.com</a></p>
					<p>D 112, Lower ground Floor, Panchsheel Enclave, New Delhi - 110017</p>
				</div>
			</div>
		</div>
	</div>