<div class="detailMainContainer">
	<section class="homeDetSection homeDetSectionTop">
		<div class="bottomSearchBar text-left">
			<div class="container">
				<div class="elet">
					<div>Location</div>
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
			</div>
			<div class="elet">
				<div>Start date</div>
				<div class="input-group datePickerCont">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="startDt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					<span class="input-group-addon" ng-click="openSD()" id=""><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="elet">
				<div>End date</div>
				<div class="input-group datePickerCont">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="endDt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					<span class="input-group-addon" ng-click="openED()" id=""><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="elet">
				<div>Person</div>
				<div class="form-group">
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="elet">
				<div class="form-group">
					<input type="submit" class="form-control btn btn-main btn-lg">
				</div>
			</div>
			</div>
		</div>
	</section>
	<section class="homeDetSection">
		<div class="container">
			<div class="row detailMapRow">
				<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
					
					<slick ng-if="placeData">
						<div class="PlacesImgSlider" ng-repeat="image in placeData.images">
							<img ng-src="{{image.image}}">
						</div>
					</slick>
					
				</div>
				<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 sctivityInfoCont">
					<div class="NameSection">
						<h3>{{placeData.name}}</h3>

						<p class="PlaceTagLine">{{placeData.tagline}}<span id="PlaceRating">({{placeData.rating}} Rating)</span></p>
					</div>
					<div class="actReserve">
						<table class="table tableDetails" cellpadding="10px;">
							<tbody>
								<tr>
									<td>Timings</td>
									<td>{{placeData.opening_time | formatTime}} to {{placeData.closing_time | formatTime}}<span id="closed_on">{{placeData.closed_on}}</span></td>
								</tr>
								<tr>
									<td>Duration</td>
									<td>{{placeData.duration|number | myDateFilter}}</td>
								</tr>
								<tr>
									<td>city</td>
									<td>{{cityinfo.name}}</td>
								</tr>
								<tr>
									<td>Guide</td>
									<td id="guide_recommend">recommended</td>
								</tr>
							</tbody>
						</table>
						<div>
							<button class="AddButtonMain" ng-click="addRemoveCart()">{{addButtonText}}</button>

							<!-- <button class="AddButtonMain">
								<span ng-click="addToCart()" ng-if="userLoggedIn && !cartIds[placeData.id]">Add this place</span>
								<span ng-click="remFromCart(placeData)" ng-if="cartIds[placeData.id] && userLoggedIn">Remove this place</span>
								<span ng-click="openLoginModal('lg',[],base_url)" ng-if="!userLoggedIn && !cartIds[placeData.id]">Add this place</span>
								<span ng-click="remFromCartLocal(placeData)" ng-if="cartIds[placeData.id] && !userLoggedIn">Remove this place</span>
							</button> -->

						</div>
					</div>
				</div>
			</div>
			</div>
			</section>
			<section class="ContentBox">
				<div class="container">
					<h3 class="DetailHeading">{{placeData.name}}<span id="distance"><i class="fa fa-map-marker"></i>{{placeData.dfc}}km from city</span></h3>
					<p class="PlacesDetail">{{joinedDesc|limitTo:limit}}<span id="expand_content" ng-show="joinedDesc.length > limit" ng-click="limit=joinedDesc.length">Show More</span></p>
					<div class="PlaceMap">
						<ng-map center='{{placeData.coordinate.coordinates}}' zoom="15" height="400">
							<marker position='{{placeData.coordinate.coordinates}}' ></marker>
						</ng-map>
					</div>
				</div>
			</section>

	<!-- Related places slider -->
	<section class="RelatedSection">
		<div class="container">
		<h1 class="MainHeading">Related Places</h1>
		<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 RelatedImgSec" ng-repeat="place in relatedPlaces track by $index | limitTo:4" ng-if="place.id!=url_id">
			<a href="/details?id={{place.id}}"><img src="{{place.images[0].image}}">
			<h4>{{place.name}}</h4></a>
		</div>
	</div>
	</section>
</div>
