<div class="footerMainContainer" data-ng-controller="footerCtrl">
	<section  class="homePanel footer">
		<div class="container">
			<div class="col-md-4 col-sm-6 col-xs-12 text-left">
				<p>Quick Links</p>
				<a href="/listPlaces?city=6c186c46-6538-4773-a406-77f2e37b27b3">Jaisalmer</a>
				<a href="/listPlaces?city=d8bbab76-decc-40d5-8fbc-d91d931a5f22">Jaipur</a>
				<a href="/listPlaces?city=6205f500-afe0-46ac-8510-e870df088396">Udaipur</a>
				<a href="/listPlaces?city=a6cf1c0e-f983-4a1c-8cff-8cb5c9d69938">Manali</a>
				<a href="/listPlaces?city=c88e9e40-bc7f-4872-955f-ab925eeb88d4">Dalhousie</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-left Coloum2">
				<p>Company</p>
				<a href="/contact">Contact Us</a>
				<a href="/team">Our Team</a>
				<a href="/privacyPolicy">Privacy Policy</a>
				<a href="/termsCondition">Terms and Conditions</a>
				<a href="/registerParty" id="partner_withus">Partner with Us</a>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-left">
				<p>Follow us on</p>
				<a href="https://www.facebook.com/BmyRaahiBlog/" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/BmyRaahi" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/bmy-raahi-584718156/" target="_blank"><i class="fa fa-linkedin"></i></a>
				<a href="https://www.youtube.com/channel/UCFwBySgB3vJNSM3cmGq2kjw" target="_blank"><i class="fa fa-youtube"></i></a>
				<a href="https://plus.google.com/110870063210301195666" target="_blank"><i class="fa fa-google-plus"></i></a>

				<div class="SubscribeUs">
					<p>Subscribe us</p>
					<form>
						<input type="mail" placeholder="Enter your mail" class="SubscribeInput" required>
						<button>Subscribe</button>
					</form>
				</div>
			</div>
		</div>
		<div class="CopyRights">
			<div class="container">
				<p class="ExtraLinks"><a href="/termsCondition">Legal</a>  <span>|</span>   <a href="/privacyPolicy">Privacy</a>  <span>|</span>  Career  <span>|</span>   Sitemap  </p>
				<p class="CopyrightsText">Copyrights. 2017. bmyrahi.com. All Rights Reserved.</p>
			</div>
		</div>
	</section>
</div>
