<div class="profileMainCont guidePlaceTop padTop150">
	<div class="container">
		<div class="input-control clearfix" >
            <label class="col-md-4 text-info" for="">Select State</label>
            <select class="form-control col-md-8" name="citySelect" ng-model="activity.category" ng-change="categoryUpdate()">
                <option value="{{category.id}}" ng-repeat="category in categorys" >{{category.name}}</option>
            </select>
        </div>
        <div class="input-control clearfix" >
            <label class="col-md-4 text-info" for="">Select City</label>
            <select class="form-control col-md-8" name="citySelect" ng-model="activity.category" ng-change="categoryUpdate()">
                <option value="{{category.id}}" ng-repeat="category in categorys" >{{category.name}}</option>
            </select>
        </div>
        <div class="input-control clearfix" >
            <label class="col-md-4 text-info" for="">Select Place</label>
            <select class="form-control col-md-8" name="citySelect" ng-model="activity.category" ng-change="categoryUpdate()">
                <option value="{{category.id}}" ng-repeat="category in categorys" >{{category.name}}</option>
            </select>
        </div>
        <div class="input-control clearfix" >
            <label class="col-md-4 text-info" for="">Select service</label>
            <span><input type="checkbox" ng-model="op1">Half Day</span>
            <span><input type="checkbox" ng-model="op2">Full Day</span>
            <span><input type="checkbox" ng-model="op3">4 hours</span>
        </div>
        <div class="input-control clearfix panel panel-primary" ng-if="op1">
        	<div class="container-fluid panel-heading ">
        		<div class="col-md-12 text-center"><h4>Enter the range for Half-day</h4></div>
        		<div class="col-md-3">Person</div>
        		<div class="col-md-3">Hindi</div>
        		<div class="col-md-3">English</div>
        		<div class="col-md-3">Language</div>
        	</div>
        	<div class="clearfix panel-body">
        		<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">0-4</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
	        	<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">5-14</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
	        	<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">15+</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
        	</div>
        </div>
        <div class="input-control clearfix panel panel-primary" ng-if="op2">
        	<div class="container-fluid panel-heading ">
        		<div class="col-md-12 text-center"><h4>Enter the range for Full-day</h4></div>
        		<div class="col-md-3">Person</div>
        		<div class="col-md-3">Hindi</div>
        		<div class="col-md-3">English</div>
        		<div class="col-md-3">Language</div>
        	</div>
        	<div class="clearfix panel-body">
        		<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">0-4</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
	        	<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">5-14</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
	        	<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">15+</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
        	</div>
        </div>
        <div class="input-control clearfix panel panel-primary" ng-if="op3">
        	<div class="container-fluid panel-heading ">
        		<div class="col-md-12 text-center"><h4>Enter the range for 4 hours</h4></div>
        		<div class="col-md-3">Person</div>
        		<div class="col-md-3">Hindi</div>
        		<div class="col-md-3">English</div>
        		<div class="col-md-3">Language</div>
        	</div>
        	<div class="clearfix panel-body">
        		<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">0-4</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
	        	<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">5-14</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
	        	<div class="container-fluid">
	        		<div class="col-md-3 input-control"><label for="">15+</label></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        		<div class="col-md-3 input-control"><input type="text" class="form-control"></div>
	        	</div>
        	</div>
        </div>
        <div class="input-control clearfix" >
        	<button class="btn btn-main">Submit</button>
        </div>
	</div>
</div>