<div class="modal-body form loginForm profileMainCont profileSectionTop padTop150" id="modal-body" >
    <div class="clearfix" ng-if="user.role=='vendor'">
        <div class="input-control">
            <label for="">Enter First name</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Last Name</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Email</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter DOB</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Gender</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Comapany Name</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Website</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Comapany Category</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div><div class="input-control">
            <label for="">Enter Address</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload GST certificate</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload PAN</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload Cancel Cheque</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="clearfix">
            <button class="btn btn-sm btn-main">Submit</button>
        </div>
    </div>
    <div class="clearfix" ng-if="user.role=='guide'">
        <div class="input-control">
            <label for="">Enter First name</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Last Name</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Email</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter DOB</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Gender</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Address</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Aadhar No</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter PAN no</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Enter Guide Licence No</label>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload Aadhar Card</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload PAN Card</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload Guide Licence</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="input-control">
            <label for="">Upload Cancel Cheque</label>
            <input type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ng-model="uname1">
        </div>
        <div class="clearfix">
            <button class="btn btn-sm btn-main">Submit</button>
        </div>
    </div>
</div>











