<div class="homeContainer row" >
	<section du-parallax opacity="fadeIn" class="homePanel homeListingMain">
		<div class="container">
			<div class="CityChange">
				<span>Change City
					<select ng-model="model" ng-change="dropdownCity(model)">
						<option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
					</select>
				</span>
				<p class="DateText">Date 
					<input type="Date" min="{{minDate|date:'yyyy-MM-dd'}}" id="date_field" ng-model="dateItin.dateItinT" ng-change="changeDate()">
				</p>
			</div>
			<div class="ItineraryBuild">
				<div class="listBtnCont">
					<a href="#" class="active"><span>Places</span></a>
					<a ng-if="!url" href="/listActivity"><img src="/images/activitiy-icon.png" alt="">
						<span>Activities</span>
					</a>
					<a ng-if="url" href="/listActivity?{{url}}"><span>Activities</span></a>
					<a ng-if="!url" href="/listItinerary"><img src="/images/itinerary.png" alt=""><span>Itinerary</span></a>
					<a ng-if="url" href="/listItinerary?{{url}}"><img src="/images/itinerary.png" alt="">
						<span>Itinerary</span>
					</a>
					<a ng-if="!url" href="/listTransport"><span>Cab/Bike</span></a>
					<a ng-if="url" href="/listTransport?{{url}}"><span>Cab/Bike</span></a>		
				</div>
				<div class="placesListContainer">
					<div class="col-md-2 col-lg-2 hidden-sm hidden-xs FilterSection">
						<h4 class="text-left"><span>Quick Filters</span></h4>
						<div class="filterBox text-left">
							<h3>Distance</h3>
							<div class="form-group flexCont">
								<label for="">Less than</label>
								<input placeholder="Kms" type="text" class="form-control" ng-model="lteKm">
							</div>
							<div class="form-group flexCont">
								<label for="">Greater than</label>
								<input placeholder="Kms" type="text" class="form-control" ng-model="gteKm">
							</div>
						</div>
						<div class="filterBox text-left">
							<h3>Rating</h3>
							<div class="form-group flexCont">
								<label for="">Less than</label>
								<input  placeholder="0-5" type="text" class="form-control" ng-model="lteRat">
							</div>
							<div class="form-group flexCont">
								<label for="">Greater than</label>
								<input  placeholder="0-5" type="text" class="form-control" ng-model="gteRat">
							</div>
						</div>
						<div class="filterBox text-left">
							<h3>Price</h3>
							<div class="form-group flexCont">
								<label for="">Less than</label>
								<input type="text" class="form-control" ng-model="ltePrc">
							</div>
							<div class="form-group flexCont">
								<label for="">Greater than</label>
								<input type="text" class="form-control" ng-model="gtePrc">
							</div>
						</div>
						<div class="filterBox filterBoxReco text-left">
							<div class="form-group flexCont">
								<label for=""><b>Recommended</b></label>
								<input type="checkbox" class="" ng-model="recoTrue">
							</div>
						</div>
						<div class="filterBox filterBoxReco text-left">
							<span class="">
								<button class="BtnFilter" ng-click="applyFilter()">
									<i class="fa fa-check"></i>&nbsp;&nbsp;Apply
								</button>
							</span>
						</div>
					</div>

					<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10 ItineraryRight">
						<div class="listingPlace nobg" ng-if="!placesList">
							<div class="loader_div">
								<img src="/images/Spinner.gif" alt="">
							</div>
						</div>
						<div class="listingPlace" ng-if="placesList && placesList.length>0" ng-repeat="place in placesList track by place.id">
							<div class="listingPlaceInner">
								<div class="placesListContainerImgCont">
									<a href="/details?id={{place.id}}" ng-if="place.images.length>0">
										<img src="{{place.images[0].image}}" alt="">
									</a>
									<a href="/details?id={{place.id}}" ng-if="place.images.length<=0">
										<img src="/images/placeholderimg.png" alt="">
									</a>
								</div>
							
								<div class="contentListingMain">
									<p class="rating" ng-if="place.rating"><span class="ratingBox">3.5</span> Rating</p>
									<!-- <p class="type">FORT</p> -->
									<p class="name"><a href="/details?id={{place.id}}">{{place.name}}</a></p>
									<p class="dist">
										<span class=""><b>
											<i class="fa fa-location-arrow"></i>&nbsp;
											{{place.dfc}}Km</b> from {{cityinfo.name}}
										</span>
											
										<span class=""><b>{{place.rating}}</b> Rating </span>
									</p>
									<!-- <p class="desc">{{}}</p> -->
									<!-- <p class="dec" ng-repeat="eachP in place.long_desc_tokenized track by $index">{{eachP}}</p> -->
									<p class="desc">{{place.short_des|cutText:200:'...'}}</p>
								</div>	

								<div class="DetailAndAdd">
									<p class="addCart">
										<button class="BtnItin" id="AddBtnItin" ng-show="userLoggedIn && !cartIds[place.id]" ng-click="addToCart(place.id)">+ Add</button>
										
										<button class="BtnItin" id="AddBtnItin" ng-show="userLoggedIn && cartIds[place.id]" ng-click="remFromCart(place.id)" >- Remove</button>

										<button class="BtnItin" id="AddBtnItin" ng-show="!userLoggedIn && !cartIds[place.id]" ng-click="openLoginModal('lg',[],base_url)">+ Add</button>
											
										<button class="BtnItin" id="AddBtnItin" ng-show="!userLoggedIn && cartIds[place.id]" ng-click="remFromCartLocal(place.id,place)" >- Remove</button>
									</p>
									<p class="Detailpage"><a class="BtnItin" href="/details?id={{place.id}}">details</a></p>
								</div>
									
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>