<div class="homeContainer row" >
	<section  class="homePanel homeMainTop homePlDetTop hidden-sm hidden-xs">
		<!-- <div class="homeInsideTeext flexInner" style="background: url('/images/map.jpg') center no-repeat;background-size: cover;height: 40vh;">
			<div style="">
				<h1>{{cityinfo.name}}</h1>
				<h4>{{cityinfo.description}}</h4>
			</div>
		</div> -->
		<div class="bottomSearchBar text-left">
			<div class="container">
				<div class="elet">
					<div>Location</div>
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
			</div>
			<div class="elet">
				<div>Start date</div>
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="startDt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					<span class="input-group-addon" ng-click="openSD()" id=""><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="elet">
				<div>End date</div>
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="endDt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					<span class="input-group-addon" ng-click="openED()" id=""><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="elet">
				<div>Person</div>
				<div class="form-group">
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="elet">
				<div class="form-group">
					<input type="submit" class="form-control btn btn-main btn-lg">
				</div>
			</div>
			</div>
		</div>
	</section>
	<section du-parallax opacity="fadeIn" class="homePanel homeListingMain">
		<div class="container">
			
			<p class="placeDet">Place: <span id="itin_place">{{cityinfo.name}}</span></p>
				<div class="ItineraryBuild">
					<div class="listBtnCont">
						<a ng-if="!url" href="/listPlaces" ><img src="/images/places.png" alt=""><span>Places</span></a>
						<a ng-if="url" href="/listPlaces?{{url}}" ><img src="/images/places.png" alt=""><span>Places</span></a>
						<a ng-if="!url" href="/listActivity"><img src="/images/activitiy-icon.png" alt=""><span>Activities</span></a>
						<a ng-if="url" href="/listActivity?{{url}}"><img src="/images/activitiy-icon.png" alt=""><span>Activities</span></a>
						<a href="#" class="active"><img src="/images/itinerary.png" alt=""><span>Itinerary</span></a>
						<a ng-if="!url" href="/listTransport"><img src="/images/cab-icon.png" alt=""><span>Cab/Bike</span></a>
						<a ng-if="url" href="/listTransport?{{url}}"><img src="/images/cab-icon.png" alt=""><span>Cab/Bike</span></a>
						
					</div>

					<div class="cartAllItemContainer" ng-if="url_id!=cartCity">
						<div class="cartleftwrap col-md-7 col-lg-7 col-sm-12 col-xs-12"></div>
						
						<div class="CartItemRight col-md-5 col-lg-5 col-sm-12 col-xs-12">
							<div class="CartInnerRight">
								<h5>Itinerary Summary</h5>
								<h6>Places</h6>
								<ul class="PlacesUl">
									<li>No place added in the cart</li>		
								</ul>
								<h6>Activities</h6>
								<ul class="ActivitiesUl">
									<li>No activity added in the cart</li>
								</ul>
								<h6>Transport</h6>
								<ul class="TransportUl">
									<li>No bike/car added in the cart</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="cartAllItemContainer" ng-if="url_id==cartCity">

						<div class="cartleftwrap col-md-7 col-lg-7 col-sm-12 col-xs-12">
						<!-- Cart Itinerary row starts -->

							<!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 PaddingZero CartItinRow">
								
									<div class="ItemsLeft">
										<h4>{{cartData.name}}</h4>
										<p ng-if="userLoggedIn">Places<span class="spanItem">{{placeData.length}}</span>, Activites<span class="spanItem">{{activityData.length}}</span>, Transport<span class="spanItem">{{bikeData.length + carData.length}}</span></p>
										<p ng-if="!userLoggedIn">Places<span class="spanItem">{{cartData.places.length}}</span>, Activites<span class="spanItem">{{cartData.activities.length}}</span>, Transport<span class="spanItem">{{cartData.cars.length + cartData.bikes.length}}</span></p>
										<span class="TravelDate"><input type="date" id="cart_date" ng-model="dateItin" ng-change="changeDate()"></span>
									</div>	

									<div class="ItemsRight">
										<p>Total Cost<span>Rs.{{cartData.total_price|number:2}}</span></p>
										<button>Details</button>
									</div>
								
							</div> -->
							<!-- Cart Itinerary row ends-->

							
							<div class="itineraryItem  col-md-12 col-lg-12 col-sm-12 col-xs-12 cartItemList" ng-repeat="act in activityData track by $index">
							<i class="fa fa-trash ItemRem" ng-if="userLoggedIn" ng-click="remFromCart('activities',act)"></i>
							<i class="fa fa-trash ItemRem" ng-if="!userLoggedIn" ng-click="remFromCartActivities(act)"></i>
							<div class="borderCont">
								<span class="FootIcon"><img src="/images/footprint.png"></span>
								<span class="circle">{{$index+1}}</span>
								<p class="border"></p>
							</div>
							<div class="itineraryItemInfo text-left">
								<p class="name">{{act.name}}</p>
								<div class="TimeAndTimings" >
									<p class="timeTakesAbs">25 mins by foot</p>
									<span class="timeInfo" ng-if="act.cartDetails.slot"><b>Time :</b> {{act.cartDetails.slot}}-{{act.cartDetails.slot}}</span>
								</div>

								
									<p class="desc CartDesc">{{act.short_description | cutText:200 : '....'}}</p>
								
								<div class="CounterPersonSec" ng-if="act.cartDetails.pax_adult+act.cartDetails.pax_child==0">
									
									<div class="CounterLeft">
										<p class="PersonAge">Item:</p>
										<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.quantity}}<!-- <span class="PlusIc">+</span> -->
										</span>
										
									</div>
								</div>
								<div class="CounterPersonSec" ng-if="act.cartDetails.pax_adult+act.cartDetails.pax_child>0">
									
									<div class="CounterLeft">
										<p class="PersonAge">Adults:</p>
										<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.pax_adult}}<!-- <span class="PlusIc">+</span> -->
										</span>
										
									</div>
									<div class="CounterRight">
										<p class="PersonAge">Children:</p>
										<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.pax_child}}<!-- <span class="PlusIc">+</span> -->
										</span>
										
									</div>
								</div>
								<div class="ItinSectionPrice">
									
									<span class="money"> Rs. {{act.cartDetails.total_amount|number}}</span>
								</div>
								<!-- 	<span class="guideInfo" ng-if="act.id==1||act.id==4"> <i class="bar"></i> Guide --> 
								<!-- <p class="includeGuide" ng-if="act.id==1||act.id==4">
									<input type="checkbox"> <span>Guide included</span>
									<select class="" name="">
										<option value="English">English</option>
										<option value="English">Hindi</option>
										<option value="English">French</option>
									</select>
								</p> -->
								<p class="timeTakesAbs" ng-if="act.id==1||act.id==4">
									<!-- <i class="fa fa-car"></i> --> 25 mins by car
								</p>
							</div>

							<div class="placesListContainerImgCont itineraryItemImg">
								<a href="/details"><img src="{{act.images[0].image}}" alt=""></a>
							</div>

						</div>
						<div class="itineraryItem  col-md-12 col-lg-12 col-sm-12 col-xs-12 cartItemList" ng-repeat="act in placeData track by $index">
							<i class="fa fa-trash ItemRem" ng-if="userLoggedIn" ng-click="remFromCart('places',act)"></i>
							<i class="fa fa-trash ItemRem" ng-if="!userLoggedIn" ng-click="remFromCartPlaces(act)"></i>
							<div class="borderCont">
								<span class="FootIcon"><img src="/images/footprint.png"></span>
								<span class="circle">{{$index+1}}</span>
								<p class="border"></p>
							</div>
							<div class="itineraryItemInfo text-left">
								<p class="name">{{act.name}}</p>
								<div class="TimeAndTimings">
									<p class="timeTakesAbs" ng-if="act.id!==1&&act.id!==4">25 mins by foot</p>
									<span class="timeInfo"><b>Time :</b> 10AM - 11 AM</span>
								</div>

								
									<p class="desc CartDesc">{{act.short_des}}</p>
								
								
								<div class="CounterPersonSec">
									
									<div class="CounterLeft">
										<p class="PersonAge">Person:</p>
									<span class="CounterUI">
											<!-- <span class="MinusIc">-</span> -->{{act.cartDetails.pax}}<!-- <span class="PlusIc">+</span> -->
									</span>
									
									</div>
								
								</div>
								<!-- <div class="ItinSectionPrice">
									<i class="fa fa-trash" ng-click="remFromCart('activities',act)"></i>
									<span class="money"> Rs. {{act.cartDetails.total_amount|number}}</span>
								</div> -->
								
								<p class="timeTakesAbs" ng-if="act.id==1||act.id==4">
									<!-- <i class="fa fa-car"></i> --> 25 mins by car
								</p>
								
							</div>

							<div class="placesListContainerImgCont itineraryItemImg">
								<a href="/details"><img src="{{act.images[0].image}}" alt=""></a>
							</div>

						</div>

						</div>
						<div class="CartItemRight col-md-5 col-lg-5 col-sm-12 col-xs-12">

							<div class="CartInnerRight">
								<h5>Itinerary Summary</h5>
								 <h6>Places</h6>
									<ul class="PlacesUl" >
										<li ng-repeat="place in placeData">{{place.name}}</li>
										<li ng-if="!placeData || placeData.length<=0">No place added in the cart</li>
										
									</ul>
								<h6>Activities</h6>
									<ul class="ActivitiesUl" >
										<li ng-repeat="activity in activityData">{{activity.name}}</li>
										<li ng-if="!activityData || activityData.length<=0">No activity added in the cart</li>
									</ul>
								<h6>Transport</h6>
									<ul class="TransportUl">
										<li ng-repeat="car in carData">{{car.car_type.title}} : {{car.car_type.seat}}seater<span class="TransportIcon"><i class="fa fa-trash" ng-click="remFromCart('cars',car)"></i><span></li>
										<li ng-repeat="bikes in bikeData">{{bikes.bike.name}}<span class="TransportIcon"><i class="fa fa-trash" ng-click="remFromCart('bikes',bikes)"></i><span></li>
											<li ng-if="bikeData.length+carData.length==0">No bike/car added in the cart</li>
									</ul>
							</div>
						</div>
					</div>
				
			</div>
		</div>
	</section>
</div>
