<div class="profileMainCont registerSectionTop padTop150">
    <div class="container">
    <!-- <div class="loginModalMain"> -->
        
        <div class="RegisterFormSection">
            <h3>Register as Guide/Vendor</h3>
        <form class="modal-body form FormRegister" id="modal-body" name="form">
            <div class="input-control">
                <label for="">Name</label>
                <input type="name" class="InputField" placeholder="Name" name="uname0" aria-label="Username" aria-describedby="basic-addon1" ng-model="regUser.uname0" ng-required="true">
                <div ng-show="form.uname0.$dirty && form.uname0.$error.required">
                    <span class="errorMessage TopRightReg help-block">Name can not be empty!</span>
                </div>
            </div>
            <div class="input-control">
                <label for="">Email ID</label>
                <input type="email" class="InputField" placeholder="Email" name="uname1" aria-label="Username" aria-describedby="basic-addon1" ng-model="regUser.uname1" ng-required="true">
                <div ng-show="form.uname1.$dirty && form.uname1.$error.required">
                    <span class="errorMessage TopRightReg help-block">Email is required!</span>
                </div>
                <div ng-show="form.uname1.$dirty && form.uname1.$error.email">
                    <span class="errorMessage TopRightReg help-block">It is not valid Email!</span>
                </div>
            </div>
            <div class="input-control">
                <label for="">Password</label>
                <input type="password" class="InputField" placeholder="Password" name="pass1" aria-label="Username" aria-describedby="basic-addon1" ng-model="regUser.pass1" minlength="8" ng-required="true">
                <div ng-if="form.pass1.$dirty">
                    <span ng-show="form.pass1.$error.required" class="errorMessage TopRightReg help-block">Password is required</span>
                    <span ng-show="form.pass1.$error.minlength" class="errorMessage TopRightReg help-block">Minimum 8 character</span>
                </div>
            </div>  
            <div class="input-control">
                <label for="">Confirm Password</label>
                <input type="password" class="InputField" placeholder="Confirm Password" name="pass2" aria-label="Username" aria-describedby="basic-addon1" ng-model="regUser.pass2" match-password="regUser.pass1" ng-required="true">
                <div ng-if="form.pass2.$dirty">
                    <span ng-show="form.pass2.$error.required" class="errorMessage TopRightReg help-block">Confirm password is required</span>
                    <span ng-show="form.pass2.$error.matchPassword && !form.pass2.$error.required" class="errorMessage TopRightReg help-block">Confirm password didn't match</span>
                </div>
            </div>
            <div class="input-control">
                <label for="">Phone Number</label>
                <input type="number" class="InputField" placeholder="Mobile No." aria-label="Username" aria-describedby="basic-addon1" name="mphno" ng-model="regUser.mphno" ng-required="true">
                <div ng-show="form.mphno.$dirty && form.mphno.$error.required">
                    <span class="errorMessage TopRightReg help-block">Phone number can not be empty!</span>
                </div>
            </div>
            <div uib-alert class="alert-danger clearfix" dismiss-on-timeout="2000" type="danger" close="closeAlert()" ng-repeat="alert in errorMsgs" ng-if="errorMsgs.length>0">
                {{alert}}
            </div>  
            <div uib-alert class="alert-success clearfix" dismiss-on-timeout="2000" type="success" close="closeAlert()" ng-if="successMsgs">
                {{successMsgs}}
            </div>  
            <div class="clearfix">
                
                    <label>Register as a </label>
                    <div class="RadioSec">
                       <span> <input type="radio" id="coding" name="userType" ng-value="!vendor" ng-click="change('guide')">Guide</span>
                        
                    </div>
                    <div class="RadioSec">
                        <span><input type="radio" id="coding" name="userType" ng-value="vendor" ng-click="change('vendor')">Vendor</span>
                        
                    </div>
               
              
                   <!--  <a href="/forgot" class="btn btn-link">Forgot Password</a> -->
                    <button href="" class="btn btn-main" ng-click="submit()" ng-disabled="form.$invalid">Sign up</button>
               
            </div>
        </form>
        </div>
      </div>
</div>