<div class="recordHolder ">
	<h1 class="text-center">{{record.name}}</h1>
	<div class=" container-fluid flexCont">
		<div class="col-md-4">
			<img ng-repeat="img in record.images" ng-if="img.image_type=='left'" src="{{img.image}}" alt="">
		</div>
		<div class="col-md-4">
			<img ng-repeat="img in record.images" ng-if="img.image_type=='front'" src="{{img.image}}" alt="">
		</div>
		<div class="col-md-4">
			<img ng-repeat="img in record.images" ng-if="img.image_type=='right'" src="{{img.image}}" alt="">
		</div>
	</div>
	<div class="text-center container-fluid">
		<label for="">{{record.guardian_rel}} : </label>{{record.guardian_name}}
	</div>
	<div class="text-center container-fluid" ng-repeat="(key, value) in record" ng-if="key!='id' && key!='images'">
		<label for="">{{key}} : </label> {{value}}
	</div>
</div>
