<div class="recordHolder">
	<h1 class="text-center">{{record.name}}</h1>
	<div class="container-fluid flexCont">
		<div class="col-md-4">
			<div ng-repeat="img in record.images">
				<img class="criminal-image"  ng-if="img.image_type=='left'" src="{{img.image}}" alt="">
				<h4 ng-if="img.image_type=='left'">Left</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div  ng-repeat="img in record.images">
				<img class="criminal-image" ng-if="img.image_type=='front'" src="{{img.image}}" alt="">
				<h4 ng-if="img.image_type=='front'" >Front</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div  ng-repeat="img in record.images">
				<img class="criminal-image" ng-if="img.image_type=='right'" src="{{img.image}}" alt="">
				<h4 ng-if="img.image_type=='right'">Right</h4>
			</div>
		</div>
	</div>
<!-- 	<div class="text-center container-fluid">
		<label for="">{{record.guardian_rel}} : </label>{{record.guardian_name}}
	</div> -->
	<div class="col-md-12" style="height: 30px;">
	</div>
	<fieldset>
		<legend style="text-align: center;color:#F7BA72">Basic Info</legend>
			<div class="text-center container-fluid ">
				<label>Name : </label> {{record.name}}
			</div>
			<div class="text-center container-fluid">
				<label>Guardian Relation : </label> {{record.guardian_rel}}
			</div>
			<div class="text-center container-fluid">
				<label>Guardian Name : </label> {{record.guardian_name}}
			</div>
			<div class="text-center container-fluid">
				<label>Year of Birth : </label> {{record.yob}}
			</div>
			<div class="text-center container-fluid">
				<label>Date of Birth : </label> {{record.dob}}
			</div>
			<div class="text-center container-fluid">
				<label>Community : </label> {{record.community}}
			</div>
			<div class="text-center container-fluid">
				<label>Religion : </label> {{record.religion}}
			</div>
			<div class="text-center container-fluid">
				<label>Gender : </label> {{record.gender}}
			</div>
	</fieldset>
	<div class="col-md-12" style="height: 30px;">
	</div>
	<fieldset>
		<legend style="text-align: center;color:#F7BA72">Physical Appearance</legend>
		<div class="text-center container-fluid">
			<label>Height : </label> {{record.height}}
		</div>
		<div class="text-center container-fluid">
			<label>Build : </label> {{record.build}}
		</div>
		<div class="text-center container-fluid">
			<label>Complexion : </label> {{record.complexion}}
		</div>
		<div class="text-center container-fluid">
			<label>Face : </label> {{record.face}}
		</div>
		<div class="text-center container-fluid">
			<label>Hair : </label> {{record.hair}}
		</div>
		<div class="text-center container-fluid">
			<label>Eyes : </label> {{record.eyes}}
		</div>
	</fieldset>
	<div class="col-md-12" style="height: 30px;">
	</div>
	<fieldset>
		<legend style="text-align: center;color:#F7BA72">Location Information</legend>
		<div class="text-center container-fluid">
			<label>Address 1 : </label> {{record.address1}}
		</div>
		<div class="text-center container-fluid">
			<label>Address 2 : </label> {{record.address2}}
		</div>
		<div class="text-center container-fluid">
			<label>City : </label> {{record.city}}
		</div>
		<div class="text-center container-fluid">
			<label>District : </label> {{record.district}}
		</div>
		<div class="text-center container-fluid">
			<label>State : </label> {{record.state}}
		</div>
		<div class="text-center container-fluid">
			<label>Police Station : </label> {{record.police_station}}
		</div>
		<div class="text-center container-fluid">
			<label>Police Post : </label> {{record.police_post}}
		</div>
	</fieldset>
	<div class="col-md-12" style="height: 30px;">
	</div>
	<fieldset>
		<legend style="text-align: center;color:#F7BA72">Criminal Information</legend>
		<div class="text-center container-fluid">
			<label>Fir Number : </label> {{record.fir_num}}
		</div>
		<div class="text-center container-fluid">
			<label>DD Number : </label> {{record.dd_num}}
		</div>
		<div class="text-center container-fluid">
			<label>DD Date : </label> {{record.dd_date}}
		</div>
		<div class="text-center container-fluid">
			<label>Criminal Category : </label> {{record.criminal_category}}
		</div>
		<div class="text-center container-fluid">
			<label>Offence Area: </label> {{record.offence_area}}
		</div>
		<div class="text-center container-fluid">
			<label>Offence Type : </label> {{record.offence_type}}
		</div>
	</fieldset>
	<div class="container-fluid record-identities">
		<h3>Identity</h3>
		<table class="table table-bordered well">
			<tr>
				<th>Proof Type</th>
				<th>Identity Number</th>
				<th>Front Image</th>
				<th>Back Image</th>
			</tr>
			<tr ng-repeat="identity in record.identities track by $index">
				<td>{{identity.identity_type}}</td>
				<td>{{identity.identity_number}}</td>
				<td>
					<img ng-src="{{identity.image_front}}" alt="identity front image">
				</td>
				<td>
					<img ng-src="{{identity.image_back}}" alt="identity back image">
				</td>
			</tr>
		</table>
	</div>
</div>
